{% extends 'base.html.twig' %}

{% block title %}Bucket-List{% endblock %}

{% block body %}

    <h1 class="titreWish">Détail d'un souhait</h1>

    <div class="wishDetail">
        <h4>- {{ wish.title }} -</h4>
        <p><strong>Description : </strong>{{ wish.description }}</p>
        <p><strong>Author : </strong>{{ wish.author }}</p>
        <p><strong>Date de création
                : </strong>{{ wish.dateCreated|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")|capitalize }}
        </p>
        {% if wish.dateUpdated != null %}
            <p><strong>Date de modification
                    : </strong>{{ wish.dateUpdated|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")|capitalize }}
            </p>
        {% endif %}
        {% if wish.image !=null %}
            <img src="{{ asset(image_dir ~ wish.image) }}" alt="image du souhait">
        {% endif %}

        <br>
        <a href="{{ path('app_wish_modification', {'id': wish.id}) }}">
            <button type="button" class="btn btn-info">Modifier</button>
        </a>
        <a href="{{ path('app_wish_delete', {'id': wish.id}) }}"
           onclick="return confirm('Etes vous sûr de vouloir supprimer ce souhait ?')">
            <button type="button" class="btn btn-danger">Supprimer</button>
        </a>
    </div>




{% endblock %}